
.heroImage{
  width: 100%;
}

hr{
  border: 2px solid black;
}
p{
  font-size: 14px;
  font-weight: 350;
  line-height: 18px;
  text-align: justify;
  text-size-adjust: 2px;
  margin: 20px;
}
.projectName{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: justify;
  text-size-adjust: 2px;
  margin: 20px;
}

 /* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    
      
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) {
   
  
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
  .heroImage{
    width: 100%;
  }
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}

