.mobile-Nav{
  position: fixed;
} 
.navbar{
  position: fixed;
}


 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 


  .mobile-Nav{
      transform: translateX(840px);
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}