body{
    font-size: 2em;
    color: white;
}
/* .container-fluid{
    background: purple;
}
.row{
    background: blue;
}
.col-sm-12{
    background: red;
    border: 2px solid white;
} */


.art{
    margin-top: -8vh;
}
/* general styles */
.hide-on-mobile{
    display: none;
}

/* menu */
.menu{
    float: right;
}
img {
    max-width: 100%;
    height: auto;
  }
/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // --------------------------------------------------------------Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* // --------------------------------------------------------------Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* general styles */
    .show-on-desktop{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }
    .menu{
        display: none;
    }
    .social-icons{
        text-align: right;
    }
 }

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
/* --------------------------------------------------------------Extra large devices landscape */
 @media (min-width: 1200px) and (orientation: landscape) { 

 }


 /* --------------------------------------------------------------Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


 }