html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    /* background-color: bisque; */
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    color: rgb(8, 2, 2);
    overflow-x: hidden; 
    overflow-y: hidden;
}


/* Scroll bar */
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
background-color:  gray;
outline: 1px solid rgb(7, 7, 7);

}


/* icons */
.icon a{
    color: black;
}
.icon{
    color: black;
}
a{
    color: rgb(0, 0, 0);
}

a:hover{
    color: rgb(128, 128, 128);
}

/* paragraph text for all the pages and sections */
p{
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    margin: 20px;
}

h4{
    font-size: 18px;
}


/* Logo Div */
.MediaDiv{
        z-index: 20;
    }


/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(241, 234, 234);
    color: rgb(12, 12, 12);
    overflow: hidden; 
    transition: 0.5s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    font-weight: 900;
  }

 /*media icons */
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}
  /* media icons */
  .icon.mobile{
    float: right;
    color: white;
  }

 /* burger navbar */
.Bars{
    margin-left: -5vw;
}


/* Desktop navbar section */
.Desktop{
    display: none;

}


.parallax {
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .zero{
    background-image: url('https://cifa.org.za/wp-content/uploads/2020/04/08.-Darryl-Croome_Waters-Edge-1-scaled.jpg');
  
  }

  .one{
    background-image: url('https://gsquared.co.za/wp-content/uploads/2019/08/GSQUARED-Exterior-3-2400x1600.jpg');
  }

  .two{
    background-image: url('https://www.vpang.com/wp-content/uploads/2019/06/architecture_m1_re-4.jpg');
  }

  .three{
    background-image: url('https://images.adsttc.com/media/images/5d67/9f09/284d/d1be/6000/0109/newsletter/02_ZQ.jpg?1567071993');
  }

  .four{
    background-image: url('https://www.thespruce.com/thmb/d_v15Xvrf64drPPsUzNFLHPj2OM=/3024x3024/filters:fill(auto,1)/pixasquare-4ojhpgKpS68-unsplash-ca4afd459306430ab50c2cc32ce2715d.jpg');
  }
  .five{
    background-image: url('https://www.architecturalrecord.com/ext/resources/Issues/2016/May/1605-Architecture-Creativity-Zaha-Hadid-01.jpg?1461696438');
  }

 

  .social{
      z-index: 2;
      position: fixed;
      transform: translate(100px,560px);
  }

 

  .media{
      color: white;
      display: inline-block;
  }


  /* IndividualProject Portfolio Page: Pamela */

  .heroImage{
  
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .im1{
    background-image:url(https://www.xtraspace.co.za/sites/default/files/images/articles/featured_0.jpg);
  }
  
  .im2{
    background-image:url(../assets/Images/CommericialTwo.jpg);
  }
  
  .im3{
    background-image:url(../assets/Images/CommericialFour.jpg);
  }
  
  .im4{
    background-image:url(../assets/Images/CommericialFive.jpg);
  }
  
  .im5{
    background-image:url(../assets/Images/ResidentialTwo.jpg);
  }
  
  .im6{
    background-image:url(../assets/Images/ResidentialFive.jpg);
  }
  
  .im7{
    background-image:url(../assets/Images/ResidentialFour.jpg);
  }
  
  .im8{
    background-image:url(../assets/Images/HealthCareFour.jpg);
  }
  
  
  .im9{
    background-image:url(../assets/Images/HealthCareThree.jpg);
  }
  
  .Im1{
    background-image:url(../assets/Images/HealthCareTwo.jpg);
  }
  
  
  
  hr{
    border: 2px solid black;
  }
  
  .projectName{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    margin: 20px;
  }
  
  
  .div{
    width: 90vw;
    /* height: auto; */
    margin: auto;
    text-align: center;
    /* background:lightcoral; */
    margin-bottom: 5vh;
  }
  


/*Desktop navbar */
.navbar-expand-lg{
    color: black;
    font-size: 1.5em;
}
/*  general classes*/
.hideMobile{
    display: none;
}


/* Portfolio page,About us and contact page:Lesedi */
/* about us page */
.AboutUsImage{
    width: 100%;
    
}
.block{
    margin-top: 6vh !important;
}


/* Portfolio Page */

/*Hover on test on Imagetest STYLING--*/

.PortfolioDiv{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 50px;
}




.PortfolioDiv.PortfolioBlock .PortfolioImage{
    overflow: hidden;
    background: white;
    margin-bottom: 0;
    opacity:1;
}
.PortfolioDiv.PortfolioBlock .PortfolioImage{
    transition: 0.8s ease;
}

.PortfolioDiv.PortfolioBlock .PortfolioImage{
    position: relative;
    display: inline-block;
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
    display: grid;
    position: absolute;
    left:0;
    color: #000;
    bottom:0;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity:1;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    /* background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39)); */
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText .PortfolioHeading{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: -25vh;
}
.PortfolioHead{
    font-size:1.5em;
    font-weight: 600;
    margin-top: -30vh;
    margin-right: 35vw;
}
.DescriptionPara{
    font-size: 1.6em;
    font-weight: 400;
    
}

.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
    margin-top: 10px;
}
/*contact section/page */
.FormButton{
    color: white;
    background-color: #0f0f0e;
    border-radius: 50px;
    font-weight: 600;
    width: 60vw;
    padding: 10px;
    margin-left: 20vw;
}
  /* form section */
.form-control{
    background-color: rgb(209, 204, 204);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.form-controlTwo{
    font-size: 14px;
    border: none;
    color: rgb(3, 3, 3);
    border-bottom: 1px solid black;
    width: 80vw;
    
}
/*about us page*/
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    /* background-color: white; */
    background-color:  rgb(209, 204, 204);
}
    /* Clients page */
    .ClientsImages{
        width: 100%;
    }
    .ProjectImage{
        width: 100%;
    }
    .ImageDiv:hover{
    color: rgb(160, 23, 240);
    opacity: 0.4;
    cursor: pointer;
    }


/* footer section */
 /* footer text */

 .icons{
    display: inline-block;
    font-size: 1.5em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    
}
 .CopyText{
    text-align: center;
    font-size: 18px;
}
.FullName{
    color:#070706;
}

footer{
    margin-top: -3vh;
}

.ProjectText{
    transform: translate(-70px,-310px);
    color: hotpink;
}

.TypeOfProject{
    transform: translate(10px,-120px);
    color: hotpink;
}

/* Services page :Tshepo */

.hide{
    display: block;
}
.hid{
    display: none;
}
.iconn{
margin-left: 40vw;
font-size: 2em;
}

   /* ---media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 

    

    /* Portfolio page:Lesedi */
    .PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText{
        opacity: 0;

    }
    .PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText:hover{
        opacity: 1;
    }
    .PortfolioDiv .zoom-on-hover:hover .image{
        transform: scale(0.2s);
        opacity: 0.7;

    }
    .PortfolioHead{
        margin-right: 10vw;
    }
   
 }
 
 /* -Medium devices (tablets or ipad) */
 @media (min-width: 768px) {

    
   /* navbar section*/
   .TabletNavbar{
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
   /* burger navbar */
  .Bars{
    margin-left: 5vw;
  }

   /* Client page, About us page Portfolio and contact page :Lesedi */
/* about us page */
.AboutUsImage{
    width: 60%;
    margin-left: 20%;
}
    /* Clients page */
.ClientsImages{
    width: 60%;
}


.ProjectImage{
    width: 80%;
}

.FormButton{
    width: 25vw;
    margin-left: 20vw;
}
.ProjectText{
    transform: translate(50px,200px);
    z-index: 10;
}
.TypeOfProject{
    transform: translate(50px,200px);
    z-index: 10;
}



}
 
 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 
    .mobile-only{
        display: none;
    }
    .hide{
        display: none;
    }
    .Desktop{
    display: block;
    color: black;
    }  
    .DesktopOnly{
        display: block;  
    }
    .block{
        margin-top: 10vh !important;
    }

    .navbar-nav{
        transform: translateX(350px);
      }
/* Landing page */


/* Portfolio page :Lesedi */
.PortfolioDiv.PortfolioBlock .PortfolioImage .PortfolioDivText .PortfolioHeading{
       
    margin-top: -23vh;
}


  /* Contact Page :Lesedi */
.FormButton{
    width: 15vw;
    margin-left: 12vw;
}

    
 }
 @media screen and (min-width: 1200px) {

    
  /* landing page media icons:Buhle */
  .social{
    transform: translate(710px,695px);
}

.show-on-mobile{
  display: none;
}
.block{
    margin-top: 5vh !important;
}
.ContactDiv{
    margin-top: 12vh !important;
}
.ClientDiv{
    margin-top: 12vh !important;
}
.mobile-Nav{
    overflow-y: auto;
}


/* IndividualProject Portfolio Page :Pamela */
.heroImage{
    margin-top: -12.3%;
    /* width: 90%;
    height: 76vh; */
    /* margin-bottom: 80vh; */

}


.div{
margin-top: 5%;
width: 90%;
height:80%;
padding: 20vh;
/* margin-bottom: 10vh; */
}

/* Services page:Tshepo */
.hide{
    display: none;
}
.hid{
    display: block;
}
.ContactDiv{
    margin-top: 2vh;
    margin-left: 3vw;
}
.card{
    border: none;
}
.ico{
    font-size: 3em;
}

    .ProjectText{
        transform: translate(50px,-80px);
        z-index: 10;
        color: hotpink;
    }
    .TypeOfProject{
        transform: translate(50px,-20px);
        z-index: 10;
        color: hotpink;
    }
     
 
   }
  
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}